
name: Build Android APK

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
            distribution: temurin
            java-version: 17
      
      - name: Install npm packages
        run: npm install

      - name: Add Android Platform
        run: npx cordova platform add android

      - name: Install Cordova
        run: npm install -g cordova

      - name: Install Dependencies
        run: npm install

      - name: Add Android Platform
        run: cordova platform add android@12.0.1

      
      - name: Build APK
        run: |
             cd platforms/android
             ./gradlew assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-debug
          path: platforms/android/app/build/outputs/apk/debug/app-debug.apk
